<!DOCTYPE html>
<html ng-app="SushiCount">
<head>
  <title>Sushi Count</title>


  <!-- Jasmine References -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine-html.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/boot.min.js"></script>

  <!-- Angular and Angular Mock references -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-mocks.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

  <div>
    <div id="navigation">
      <!-- <a href="#/home">H</a>
      <a href="#/about">A</a> -->
      <!-- <a href="#/restaurants">R</a> -->
    </div>

    <div ng-view></div>
  </div>

  <script type="text/ng-template" id="embedded.home.html">
      <h1>H</h1>
  </script>
  <script type="text/ng-template" id="embedded.about.html">
      <h1>A</h1>
  </script>
  <script type="text/ng-template" id="embedded.restaurants.html">
      <h1>R</h1>
      <div ng-controller="RestaurantsController">
        <div class="form-inline">
          <ul class="list-group">
            <!-- Loop over players using ng-repeat -->
            <li class="list-group-item" ng-repeat="(key, restaurant) in restaurants">
              <a ng-href="#/plates?restaurantid={{key}}">{{restaurant.name}}</a> ({{getPlateCount(key)}})
            </li>
          </ul>
          <form name="restaurant_form" id="restaurant_form">
            <input class="form-control" type="text" ng-model="newRestaurant.name" />
            <button class="btn btn-default" ng-click="addRestaurant(newRestaurant)">Add</button>
            <button class="btn btn-default" ng-click="clearRestaurants()">Clear all restaurants</button>
          </form>
        </div>
      </div>
  </script>
  <script type="text/ng-template" id="embedded.plates.html">
      <h1><a href="#/restaurants">R</a>: {{restaurant | titlecase}}: P</h1>
      <div ng-controller="PlatesController">
        <div class="form-inline">
          <ul class="list-group">
            <!-- Loop over players using ng-repeat -->
            <li class="list-group-item" ng-repeat="(key, plate) in plates">
              <a ng-href="#/plate?restaurantid={{restaurantid}}&amp;plateid={{key}}">{{plate.name}}</a>
              <button ng-click="decreasePlate(plate)">-</button>
              <span>{{plate.count}}</span>
              <button ng-click="increasePlate(plate)">+</button>
              <span>@{{plate.price | currency : USD : 2}}</span>
              <span>= {{getSubtotal(plate.price, plate.count) | currency : USD : 2}}</span>
            </li>
            <li>Total: {{getTotal() | currency : USD : 2}}</li>
          </ul>
          <form name="plate_form" id="plate_form">
            <!-- <input ng-model="val" ng-pattern="/^\d+$/" name="anim" class="my-input" aria-describedby="inputDescription" /> -->
            <input class="form-control" type="text" ng-model="newPlate.name" />
            <input class="form-control" type="text" ng-model="newPlate.price" />
            <button class="btn btn-default" ng-click="addPlate(newPlate)">Add</button>
            <button class="btn btn-default" ng-click="saveTally()">Save receipt</button>
            <button class="btn btn-default" ng-click="resetCounts()">Reset plate counts</button>
            <button class="btn btn-default" ng-click="clearPlates()">Clear all plates</button>
          </form>
        </div>
      </div>
  </script>
  <script type="text/ng-template" id="embedded.plate.html">
      <h1><a ng-href="#/plates?restaurantid={{restaurantid}}">{{restaurant | titlecase}}</a>: P: {{plate.name | titlecase}}</h1>
      <div ng-controller="PlateController">
        <div class="form-inline">
          <form name="plate_details_form" id="plate_details_form">
            <input class="form-control" type="text" ng-model="plate.name" />
            <input class="form-control" type="text" ng-model="plate.price" />
            <button class="btn btn-default" ng-click="updatePlate(plate)">Update Plate Details</button>
            <button class="btn btn-default" ng-click="deletePlate()">Delete Plate</button>
          </form>
        </div>
      </div>
  </script>

</body>
</html>