/**
 *
 * Sushi Count Styles
 * Option 1
 *
 * Author: Clint Bush | @madebyclint - Twitter
 *
 */
/*===============================
 =            IMPORTS            =
 ===============================*/
/*=================================
=            VARIABLES            =
=================================*/
/*================================================
=            GENERAL LAYOUT & GLOBALS            =
================================================*/
* {
  box-sizing: border-box; }
  * > * {
    box-sizing: inherit; }

html, body {
  background: #C6CFD6;
  width: 100%; }

#sc-page-wrapper {
  max-width: 480px;
  margin: auto;
  background: #fff;
  padding: 2rem; }

/*=================================================
=            MODULE/COMPONENT SPECIFIC            =
=================================================*/
