/**
 *
 * Sushi Count Styles
 * Option 1
 *
 * Author: Clint Bush | @madebyclint - Twitter
 *
 */

 /*===============================
 =            IMPORTS            =
 ===============================*/

 @import url('http://fonts.googleapis.com/css?family=Sansita+One');
 @import url('http://fonts.googleapis.com/css?family=Kameron');



/*=================================
=            VARIABLES            =
=================================*/

// In critical.css
// $standardPadding: 2rem;

$logo-size: 150px;

// COLORS
$red-vibrant: #CE0000;
$red-vibrant-dark: darken($red-vibrant, .0);
$black: #000;
$white: #fff;




/*===================================================
=            MIXINS/FUNCTIONS/EXTENSIONS            =
===================================================*/

@mixin text-border($color) {
    text-shadow:
         2px -2px 0 $color,
         2px -1px 0 $color,
         2px  0px 0 $color,
         2px -1px 0 $color,
         2px  2px 0 $color,

         1px -2px 0 $color,
         1px -1px 0 $color,
         1px  0px 0 $color,
         1px -1px 0 $color,
         1px  2px 0 $color,

         0px -2px 0 $color,
         0px -1px 0 $color,
         0px  0px 0 $color,
         0px -1px 0 $color,
         0px  2px 0 $color,

        -1px -2px 0 $color,
        -1px -1px 0 $color,
        -1px  0px 0 $color,
        -1px -1px 0 $color,
        -1px  2px 0 $color,

        -2px -2px 0 $color,
        -2px -1px 0 $color,
        -2px  0px 0 $color,
        -2px -1px 0 $color,
        -2px  2px 0 $color,

        2px 2px 2px #003031
}

%center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: block;
}





/*================================================
=            GENERAL LAYOUT & GLOBALS            =
================================================*/

// In critical.css
// * {
//     box-sizing: border-box;
//     & > * {
//         box-sizing: inherit;
//     }
// }

// In critical.css
// html, body {
//     background: #C6CFD6;
//     width: 100%;
// }

// In critical.css
// #sc-page-wrapper {
//     max-width: 480px;
//     margin: auto;
//     background: #fff;
//     padding: $standardPadding;
// }

ul.reset {
    padding: 0;
    li {
        list-style-type: none;
    }
}

* {
    font-family: Kameron, Georgia, serif;
    text-align: center;
}


/*=============================
=            PAGES            =
=============================*/

.views {
    background: #fff;
}

#sc-page-wrapper {
    overflow: hidden;
}


/*==================================
=            ANIMATIONS            =
==================================*/


/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}


// .ng-enter { animation: slideInRight 0.2s both ease-in; z-index: 8888; }
// .ng-leave { animation: slideOutLeft 0.2s both ease-in; z-index: 9999; }




/*=================================================
=            MODULE/COMPONENT SPECIFIC            =
=================================================*/

header {
    height: 40px;
    background: #CE0000;
    text-align: center;
    margin-bottom: 40px;
}

.logo-wrapper {
    background: $red-vibrant;
    background: linear-gradient(to bottom, $red-vibrant 0%, lighten($red-vibrant, 10%) 100%);
    width: $logo-size;
    height: $logo-size;
    display: inline-block;
    border: 20px solid #fff;
    box-sizing: content-box;
    position: relative;
    top: -75px;
    left: -5px;
    border-radius: $logo-size;
    // box-shadow: 1px 1px 2px 2px rgba(#003031, .2);
    transform: rotate(-7deg) scale(.5);

    .logo {
        font-family: 'Sansita one', sans-serif;
        font-size: 56px;
        line-height: .8;
        color: #fff;
        margin: 0;
        position: absolute;
        width: 130px;
        height: 130px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // text-shadow: 1px 1px 1px rgba(#003031, .4);
        @include text-border($red-vibrant);
        border: 5px solid #fff;
        border-radius: 130px;

        .logo-inner {
            display: block;
            position: absolute;
            top: 46%;
            left: 52%;
            transform: translate(-50%, -50%);
        }
    }
}

.list-group.blocks {
    li {
        background: #E7E7EF;
        display: block;
        width: calc(50% - 20px);
        padding-top: calc(50% - 20px);
        margin: 0 10px 20px;
        height: 0;
        vertical-align: top;
        position: relative;
        float: left;

        &>* {
            @extend %center-both;
            width: 100%;
            height: 100%;

            &>* {
                @extend %center-both;
            }

            // &:hover {
            //     background: darken(#E7E7EF, 5%);
            // }
        }
    }
}

.color-inputs {
    display: inline-block;
    vertical-align: top;
    label {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 48px;
        border: 2px solid rgba($black, .5);
        text-indent: -9999px;
        margin: .3rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        .shadow {
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            &.flat {
                top: 0;
                left: -50%;
                background-color: rgba($black, .1)
            }
            &.crescent {
                top: -10px;
                left: -10px;
                border-radius: 100%;
                box-shadow: 10px 10px 0 0 rgba($black, .1);
            }
        }
    }
    input {
        // display: none;
    }
}


